<div class="flex justify-center">
    <h1 class="text-xl font-bold">THÊM MỚI SẢN PHẨM</h1>
</div>

<form class="" [formGroup]="productForm" (submit)="handleSubmit()" enctype="multipart/form-data">
    <div class="grid grid-cols-2 gap-4 py-8">
        <div class="mb-6">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tên sản phẩm</label>
            <input formControlName="name" type="text" class="input" (input)="updateSlug($event)">
            <span class="text-red-400 text-xs flex"
                *ngIf="productForm.get('name')?.hasError('required')&&productForm.get('name')?.touched">
                Vui lòng nhập tên!
            </span>
        </div>
        <div class="mb-6">
            <label for="slug" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Slug</label>
            <input formControlName="slug" type="text" class="input cursor-not-allowed" />
        </div>
        <div class="mb-6">
            <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Giá</label>
            <input formControlName="price" type="number" class="input">
            <span class="text-red-400 text-xs flex"
                *ngIf="productForm.get('price')?.hasError('required')&&productForm.get('price')?.touched">
                Vui lòng nhập giá!
            </span>
            <span class="text-red-400 text-xs flex"
                *ngIf="productForm.get('price')?.hasError('min')&&productForm.get('price')?.touched">
                Giá phải lớn hơn 10.000 đ!
            </span>
        </div>
        <div class="mb-6">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Số lượng</label>
            <input formControlName="stock" type="number" class="input">
            <span class="text-red-400 text-xs flex"
                *ngIf="productForm.get('stock')?.hasError('required')&&productForm.get('stock')?.touched">
                Vui lòng nhập số lượng!
            </span>
            <span class="text-red-400 text-xs flex"
                *ngIf="productForm.get('stock')?.hasError('min')&&productForm.get('stock')?.touched">
                Số lượng phải lớn hơn 0!
            </span>
        </div>
        <div class="mb-6">
            <label for="categoryId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Danh
                mục</label>
            <select name="category" formControlName="category" class="input">
                <option class="py-2 uppercase" *ngFor="let category of categories" value="{{category._id}}">
                    {{category.name}}
                </option>
            </select>
            <span class="text-red-400 text-xs flex"
                *ngIf="productForm.get('category')?.hasError('required')&&productForm.get('category')?.touched">
                Vui lòng chọn danh mục!
            </span>
        </div>
        <div class="mb-6">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hình
                ảnh</label>
            <input type="file" multiple (change)="handleUpload($event)" class="input">
        </div>
    </div>
    <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Thêm mô tả</label>
    <textarea name="description" id="" formControlName="description"
        class="w-full h-32 resize-none input py-2"></textarea>
    <span class="text-red-400 text-xs flex"
        *ngIf="productForm.get('description')?.hasError('required')&&productForm.get('description')?.touched">
        Vui lòng nhập mô tả!
    </span>
    <div class=" justify-end flex">
        <button type="submit" class="btn--green uppercase">thêm mới</button>
    </div>
</form>