<form
	class="w-full max-w-2xl mx-auto my-5 p-4"
	[formGroup]="auth"
	(ngSubmit)="onHandleSubmit()"
>
	<div class="text-center mb-5">
		<h1 class="text-3xl font-semibold mb-2">ĐĂNG KÝ TÀI KHOẢN</h1>
		<p class="text-base">Nếu chưa có tài khoản vui lòng đăng ký tại đây</p>
	</div>

	<div class="mb-5">
		<label
			class="block text-gray-700 text-sm font-bold uppercase mb-2"
			for="username"
		>
			Tên đầy đủ*
		</label>
		<input
			class="w-[600px] h-[50px] text-sm pl-4 bg-slate-100 rounded-sm mb-2 outline-none"
			type="text"
			placeholder="Nhập họ tên"
			name="name"
			formControlName="name"
		/>
		<span
			*ngIf="check && auth?.controls?.['name']?.errors?.['required']"
			class="text-sm block text-red-400 font-medium text-left"
			>Vui lòng nhập thông tin</span
		>
	</div>

	<div class="mb-5">
		<label
			class="block text-gray-700 text-sm font-bold uppercase mb-2"
			for="email"
		>
			Email*
		</label>
		<input
			class="w-[600px] h-[50px] text-sm pl-4 bg-slate-100 rounded-sm mb-2 outline-none"
			type="email"
			placeholder="Email"
			formControlName="email"
			name="email"
		/>
		<span
			*ngIf="check && auth?.controls?.['email']?.errors?.['required']"
			class="text-sm block text-red-400 font-medium text-left"
			>Vui lòng nhập thông tin</span
		>
		<span
			*ngIf="check && auth?.controls?.['email']?.errors?.['email']"
			class="text-sm block text-red-400 font-medium text-left"
			>Email không đúng định dạng</span
		>
	</div>

	<div class="mb-5">
		<label
			class="block text-gray-700 text-sm font-bold uppercase mb-2"
			for="password"
		>
			Mật khẩu*
		</label>
		<input
			class="w-[600px] h-[50px] text-sm pl-4 bg-slate-100 rounded-sm mb-2 outline-none"
			type="password"
			placeholder="Nhập mật khẩu"
			formControlName="password"
			name="password"
		/>
		<span
			*ngIf="check && auth?.controls?.['password']?.errors?.['required']"
			class="text-sm block text-red-400 font-medium text-left"
			>Vui lòng nhập thông tin</span
		>
	</div>

	<div class="mb-5">
		<label
			class="block text-gray-700 text-sm font-bold uppercase mb-2"
			for="confirmpassword"
		>
			Xác nhận mật khẩu*
		</label>
		<input
			class="w-[600px] h-[50px] text-sm pl-4 bg-slate-100 rounded-sm mb-2 outline-none"
			type="password"
			placeholder="Xác nhận mật khẩu"
			formControlName="confirmpassword"
			name="confirmpassword"
		/>
		<span
			*ngIf="check && auth?.controls?.['confirmpassword']?.errors?.['required']"
			class="text-sm block text-red-400 font-medium text-left"
			>Vui lòng nhập thông tin</span
		>
	</div>
	<div class="flex justify-center">
		<button
			type="submit"
			class="up w-[290px] h-[50px] border rounded"
		>
			Đăng kí
		</button>
	</div>
	<div class="text-center py-[14px]">
		<a
			routerLink="/login"
			class="text-sm font-medium uppercase"
			>Đăng nhập</a
		>
	</div>
</form>
