<form class="w-full max-w-2xl mx-auto my-5 p-4 ">
    <div class="text-center mb-10">
        <h1 class="text-3xl font-semibold mb-2">ĐĂNG KÝ TÀI KHOẢN</h1>
        <p class="text-base">Nếu chưa có tài khoản vui lòng đăng ký tại đây</p>
    </div>

    <div class="mb-10">
        <label class="block text-gray-700 text-sm font-bold uppercase mb-2" for="username">
            Tên đầy đủ*
        </label>
        <input
            class="shadow appearance-none border rounded w-full py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="username" type="text" placeholder="Username">
    </div>

    <div class="mb-10">
        <label class="block text-gray-700 text-sm font-bold uppercase mb-2" for="email">
            Email*
        </label>
        <input
            class="shadow appearance-none border rounded w-full py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email" type="email" placeholder="Email">
    </div>

    <div class="mb-10">
        <label class="block text-gray-700 text-sm font-bold uppercase mb-2" for="password">
            Mật khẩu*
        </label>
        <input
            class="shadow appearance-none border rounded w-full py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password" type="password" placeholder="Password">
    </div>

    <div class="mb-10">
        <label class="block text-gray-700 text-sm font-bold uppercase mb-2" for="confirmPassword">
            Xác nhận mật khẩu*
        </label>
        <input
            class="shadow appearance-none border rounded w-full py-4 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="confirmPassword" type="password" placeholder="Confirm password">
    </div>
    <div class="flex justify-center">
        <button
            class=" uppercase px-[28px] py-[14px] bg-slate-900 text-white font-medium border hover:bg-white hover:text-slate-900 hover:border-slate-900 text-sm"
            type="submit">
            <a href="">tạo tài khoản</a>
        </button>
    </div>
    <div class=" text-center py-[14px]">
        <a href="" class="text-sm font-medium uppercase">đăng nhập</a>
    </div>
</form>