<div class="flex items-center">
    <div class="mr-7"><img class="w-[200px] h-[60px]" src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/logo.png?1680855248967" alt=""></div>
    <div>
        <ul class="flex ">
            <li class="pr-3 font-semibold text-sm leading-6 tracking-wide"><a href="">HÀNG MỚI</a></li>
            <li class="px-3 font-semibold text-sm leading-6 tracking-wide"><a href="">ÁO</a></li>
            <li class="px-3 font-semibold text-sm leading-6 tracking-wide"><a href="">QUẦN</a></li>
            <li class="px-3 font-semibold text-sm leading-6 tracking-wide"><a href="">ĐỒ THỂ THAO</a></li>
            <li class="px-3 font-semibold text-sm leading-6 tracking-wide"><a href="">PHỤ KIỆN</a></li>
            <li class="px-3 font-semibold text-sm leading-6 tracking-wide"><a href="">TIN TỨC</a></li>
        </ul>
    </div>
    <div>
       <form action="">
        <div class="my-3">
            <div class="relative mb-4 flex w-full flex-wrap  bg-slate-100 items-center rounded-md">
              <input
                type="text"
                class="relative outline-none m-0 block  min-w-0 flex-auto rounded border border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700  transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700  focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary  border-none"
                placeholder="Tìm kiếm sản phẩm..."
                aria-label="Search"
                aria-describedby="button-addon2" />
              <button
              type="submit"
                class="input-group-text flex items-center whitespace-nowrap rounded px-3 py-1.5 text-center text-base font-normal text-neutral-700 dark:text-neutral-200"
                id="basic-addon2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="h-5 w-5">
                  <path
                    fill-rule="evenodd"
                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                    clip-rule="evenodd" />
                </svg>
              </button>
            </div>
          </div>
       </form>
    </div>
    <div class="ml-5">
        <ul class="flex">
            <li class="pr-2"><a href=""><i class="fa-solid fa-user"></i></a></li>
            <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </div>
</div>
