<div class="container mx-auto md:px-[200px] my-10">
	<div class="flex justify-between items-center py-4">
		<div>
			<p class="text-base font-bold mb-2 uppercase">chi tiết đơn hàng</p>
			<a class="text-sm font-thin mb-2"
				>Mã đơn hàng: <span class="font-medium">#{{ order._id }}</span></a
			>
			<p
				*ngIf="order.status == 'cancelled'"
				class="text-sm"
			>
				Ngày hủy: <strong class="text-red-500">{{ formatDate(order.updatedAt) }}</strong>
			</p>
		</div>
		<button
			*ngIf="order.status !== 'cancelled'"
			[disabled]="order.payment.status"
			[class]="{
				'btn--green': order.payment.status,
				'btn--red': !order.payment.status,
				'cursor-default': order.payment.status
			}"
			(click)="handlePayment()"
		>
			{{ order.payment.status ? "Đã thanh toán" : "Thanh toán" }}
		</button>
		<button
			*ngIf="order.status == 'cancelled'"
			class="btn--red cursor-default"
		>
			Đã hủy
		</button>
	</div>
	<hr />
	<!-- thông tin đơn hàng -->
	<div class="flex flex-col py-4 gap-2">
		<div class="flex flex-col py-4 gap-2">
			<div
				*ngFor="let product of order.products"
				class="flex justify-between items-center"
			>
				<p class="text-xs">
					{{ product.name }} x
					<span class="text-red-500 text-base font-semibold">{{ product.quantity }}</span>
				</p>
				<p class="font-bold text-red-500">{{ formatNumber(product.price * product.quantity) }} VNĐ</p>
			</div>
		</div>
		<div class="flex justify-end">
			<p class="font-bold text-xl">
				Thành Tiền: <span class="text-red-500">{{ formatNumber(order.bill) }} VNĐ</span>
			</p>
		</div>
	</div>

	<hr />
	<!-- Thông tin khách hàng -->
	<div class="flex py-4 gap-4">
		<div class="w-full md:w-7/12">
			<p class="text-base font-semibold mb-4 uppercase">Địa chỉ nhận hàng</p>
			<p class="text-sm font-thin">
				Người nhận: <span class="font-medium">{{ order.shipping.fullname }}</span>
			</p>
			<p class="text-sm font-thin">
				SĐT: <span class="font-medium">{{ order.shipping.phone }}</span>
			</p>
			<p class="text-sm font-thin">
				Địa chỉ: <span class="font-medium">{{ order.shipping.address }}</span>
			</p>
		</div>
		<div class="w-full md:w-5/12">
			<p class="text-base font-semibold mb-4 uppercase">Phương thức thanh toán</p>
			<p class="text-sm font-thin">
				Phương thức: <span class="font-medium">{{ order.payment.methods }}</span>
			</p>
			<p class="text-sm font-thin">
				Trạng thái thanh toán: <span class="font-medium">{{ order.payment.status ? "Rồi" : "Chưa" }}</span>
			</p>
			<p class="text-sm font-thin">Đơn vị vận chuyển: <span class="font-medium">AE Cây Khế</span></p>
		</div>
	</div>
</div>
