<div class="container mx-auto  md:px-[200px] my-10">
    <div class="flex justify-between items-center py-4">
        <div>
            <p class="text-base font-bold mb-2 uppercase">chi tiết đơn hàng</p>
            <a class="text-sm font-thin mb-2">Mã đơn hàng: <span class="font-medium">#123</span></a>
        </div>
        <a href="checkout"><button class="btn--green">Thanh toán</button></a>
    </div>
    <hr>
    <!-- thông tin đơn hàng -->
    <div class="flex flex-col py-4 gap-2">
        <div class="flex justify-between items-center ">
            <p class="text-xs">@Tensp x @So luong</p>
            <p class="font-bold text-red-500">#123</p>
        </div>
        <div class="flex justify-between items-center ">
            <p class="text-xs">@Tensp x @So luong</p>
            <p class="font-bold text-red-500">#123</p>
        </div>
        <div class="flex justify-end">
            <p class="font-bold text-xl ">THÀNH TIỀN: <span class="text-red-500">#123</span> </p>
        </div>
    </div>

    <hr>
    <!-- Thông tin khách hàng -->
    <div class="flex py-4">
        <div class="w-full md:w-7/12">
            <p class="text-base font-semibold mb-4 uppercase">Địa chỉ nhận hàng</p>
            <p class="text-sm font-thin">Người nhận: <span class="font-medium">@abc</span></p>
            <p class="text-sm font-thin">SDT: <span class="font-medium">@abc</span></p>
            <p class="text-sm font-thin">Địa chỉ: <span class="font-medium">@abc</span></p>
        </div>
        <div class="w-full md:w-5/12">
            <p class="text-base font-semibold mb-4 uppercase">Phương thức thanh toán</p>
            <p class="text-sm font-thin">Phương thức: <span class="font-medium">@abc</span></p>
            <p class="text-sm font-thin">Trạng thái thanh toán: <span class="font-medium">@abc</span></p>
            <p class="text-sm font-thin">Đơn vị vận chuyển: <span class="font-medium">@abc</span></p>
        </div>
    </div>


</div>