<div class="container mx-auto">
    <div class="grid grid-cols-4 gap-5">
        <div>
            <img src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/logo.png?1680855248967" alt="" class="w-[200px] h-[60px]">
            <div class="flex py-2 text-left items-center"><i class="fa-solid fa-location-dot pr-2"></i><p class="">Địa chỉ: 65 đường S2, P. Tây</p></div>
           <div class="flex py-2 text-left items-center"><i class="fa-solid fa-phone pr-2"></i><p>0945 7777 11</p></div>
          <div class="flex py-2 text-left items-center"><i class="fa-solid fa-envelope pr-2"></i><p>ladosvietnam@gmail.com</p></div>
        </div>
        <div>
            <h6 class="pb-7 font-semibold">MUA HÀNG</h6>
            <p class=" py-2 hover:text-slate-400">HƯỚNG DẪN MUA HÀNG</p>
            <p class=" py-2 hover:text-slate-400">HƯỚNG DẪN THANH TOÁN</p>
            <p class=" py-2 hover:text-slate-400">HƯỚNG DẪN GIAO NHẬN</p>
            <p class=" py-2 hover:text-slate-400">ĐIỀU KHOẢN DỊCH VỤ</p>
            <p class=" py-2 hover:text-slate-400">HƯỚNG DẪN CHỌN KÍCH CỠ</p>
        </div>
        <div>
            <h6 class="pb-7 font-semibold">DỊCH VỤ KHÁCH HÀNG</h6>
            <p class=" py-2 hover:text-slate-400">TÌM KIẾM</p>
            <p class=" py-2 hover:text-slate-400">ĐĂNG NHẬP</p>
            <p class=" py-2 hover:text-slate-400">ĐĂNG KÍ</p>
            <p class=" py-2 hover:text-slate-400">GIỎ HÀNG</p>
            <p class=" py-2 hover:text-slate-400">TIN TỨC</p>
        </div>
        <div>
            <h6 class="pb-7 font-semibold">KẾT NỐI</h6>
            <div class="flex">
               <a href="" class="pr-2"><img class="w-[40px] h-[40px]" src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/social_facebook_icon.svg?1680855248967" alt=""></a>
               <a href="" class="px-2"><img class="w-[40px] h-[40px]" src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/social_instagram_icon.svg?1680855248967" alt=""></a>
               <a href="" class="px-2"><img class="w-[40px] h-[40px]" src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/social_youtube_icon.svg?1680855248967" alt=""></a>
               <a href="" class="px-2"><img class="w-[40px] h-[40px]" src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/social_shopee_icon.svg?1680855248967" alt=""></a>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>


