<div class="container mx-auto">
    <div class="grid grid-cols-4 gap-5">
        <div>
            <img src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/logo.png?1680855248967" alt="" class="w-[200px] h-[60px] pb-2">
            <div class="flex py-2 text-left items-center text-sm"><i class="fa-solid fa-location-dot pr-2"></i><p class="">Địa chỉ: 65 đường S2, P. Tây</p></div>
           <div class="flex py-2 text-left items-center text-sm"><i class="fa-solid fa-phone pr-2"></i><p>0945 7777 11</p></div>
          <div class="flex py-2 text-left items-center text-sm"><i class="fa-solid fa-envelope pr-2"></i><p>ladosvietnam@gmail.com</p></div>
        </div>
        <div>
            <h6 class="pb-7 font-semibold text-xs">MUA HÀNG</h6>
            <p class=" py-2 hover:text-slate-400 text-xs">HƯỚNG DẪN MUA HÀNG</p>
            <p class=" py-2 hover:text-slate-400 text-xs">HƯỚNG DẪN THANH TOÁN</p>
            <p class=" py-2 hover:text-slate-400 text-xs">HƯỚNG DẪN GIAO NHẬN</p>
            <p class=" py-2 hover:text-slate-400 text-xs">ĐIỀU KHOẢN DỊCH VỤ</p>
            <p class=" py-2 hover:text-slate-400 text-xs">HƯỚNG DẪN CHỌN KÍCH CỠ</p>
        </div>
        <div>
            <h6 class="pb-7 font-semibold text-xs">DỊCH VỤ KHÁCH HÀNG</h6>
            <p class=" py-2 hover:text-slate-400 text-xs">TÌM KIẾM</p>
            <p class=" py-2 hover:text-slate-400 text-xs">ĐĂNG NHẬP</p>
            <p class=" py-2 hover:text-slate-400 text-xs">ĐĂNG KÍ</p>
            <p class=" py-2 hover:text-slate-400 text-xs">GIỎ HÀNG</p>
            <p class=" py-2 hover:text-slate-400 text-xs">TIN TỨC</p>
        </div>
        <div>
            <h6 class="pb-7 font-semibold text-xs">KẾT NỐI</h6>
            <div class="flex">
               <a href="" class="pr-1"><img class="w-[30px] h-[30px] rounded-md" src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/social_facebook_icon.svg?1680855248967" alt=""></a>
               <a href="" class="px-1"><img class="w-[30px] h-[30px] rounded-md" src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/social_instagram_icon.svg?1680855248967" alt=""></a>
               <a href="" class="px-1"><img class="w-[30px] h-[30px] rounded-md" src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/social_youtube_icon.svg?1680855248967" alt=""></a>
               <a href="" class="px-1"><img class="w-[30px] h-[30px] rounded-md" src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/social_shopee_icon.svg?1680855248967" alt=""></a>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>

