<div class="container mx-auto">
    <div class="grid grid-cols-4 gap-5">
        <div>
            <img src="https://bizweb.dktcdn.net/100/426/984/themes/900482/assets/logo.png?1680855248967" alt="">
            <p class="">Địa chỉ: 65 đường S2, P. Tây</p>
           <div class="flex"><i class="fa-solid fa-phone"></i><p>0945 7777 11</p></div>
          <div class="flex"><i class="fa-solid fa-envelope"></i><p>ladosvietnam@gmail.com</p></div>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
