<div class="my-4">
	<div class="border borderr py-2">
		<ul class="flex">
			<li class="text-sm"><a href="">Trang chủ > </a></li>
			<li class="font-bold pl-2 text-sm">Danh sách sản phẩm</li>
		</ul>
	</div>
	<div class="flex mt-10 gap-5">
		<div>
			<div>
				<h2 class="uppercase text-xl font-semibold">Danh mục</h2>
				<p class="py-2 pt-2 font-semibold">Hàng mới</p>
				<button class="py-2 pt-2 font-semibold" (click)="all()">Tất cả sản phẩm</button>
				<ul *ngFor="let cate of cates">
					<li><button (click)="findCate(cate._id)" class="py-2">{{cate.name}}</button></li>
				</ul>
			</div>
			<div class="mt-5 border-t pt-4">
				<h2 class="uppercase text-xl font-semibold">Tìm theo</h2>
				<p class="py-2 pt-2 font-semibold">Giá</p>
				<ul>
					<li class="py-2"><button (click)="findPrice('500000-1000000000')">Trên 500.000 VND</button></li>
					<li class="py-2"><button (click)="findPrice('100000-200000')">100.00 - 200.000 VND</button></li>
					<li class="py-2"><button (click)="findPrice('300000-400000')">300.000 - 400.000 VND</button></li>
				</ul>
			</div>
		</div>

		<div class="grid grid-cols-4 gap-6 ml-5 flex-1">
			<div class="text-center items-center overflow-hidden card  mb-2" *ngFor="let product of products">
				<div class="imgs_product relative">
					<img class="absolute inset-0 opacity-100 img_product duration-300" src={{product?.images[0].url}}
						alt="" />
					<img src={{product?.images[1].url}} alt="" />
				</div>
				<div class="text">
					<p class="text-xs font-semibold py-2 truncate">{{product.name}}</p>
					<p class="text-sm pb-2">{{product.price?.toLocaleString()}} VNĐ</p>
				</div>
				<div class="text-center btn relative">
					<button class="bg-white text-black border w-full h-[50px] up" (click)="nextpage(product.slug)">Tùy
						chọn</button>
				</div>
			</div>
		</div>
	</div>
</div>