<div class="my-4">
    <div class="border borderr py-2">
        <ul class="flex">
            <li class="text-sm"><a href="">Trang chủ > </a></li>
            <li class="font-bold pl-2 text-sm">Danh sách sản phẩm</li>
        </ul>
    </div>
    <div class="flex mt-10">
        <div>
            <div>
                <h2 class="uppercase text-xl font-semibold">Danh mục</h2>
                <p class="py-2 pt-2 font-semibold">Hàng mới</p>
                <ul>
                    <li class="py-2"><a href="">Áo</a></li>
                    <li class="py-2"><a href="">Quần</a></li>
                    <li class="py-2"><a href="">Đồ thể thao</a></li>
                </ul>
            </div>
            <div class="mt-5">
                <h2 class="uppercase text-xl font-semibold">Tìm theo</h2>
                <p class="py-2 pt-2 font-semibold">Giá</p>
                <ul>
                    <li class="py-2"><a href="">Trên 500.000VND</a></li>
                    <li class="py-2"><a href="">100.00VND-200.000VND</a></li>
                    <li class="py-2"><a href="">300.000VND-400.000VND</a></li>
                </ul>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-3 ml-5">
            <div class="text-center items-center overflow-hidden card  w-[290px] h-[370px]">
                <div class="imgs_product">
                    <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/426/984/products/0123a7b8a30234cbff048a731c013444-1684898297401.jpg?v=1684898372243" alt="">
                </div>
                <div class="text">
                    <p class="text-sm font-semibold">Áo thun</p>
                    <p class="text-sm py-2">100.000VND</p>
                </div>
                <div class="text-center btn relative">
                    <button class="bg-white text-black border w-[290px] h-[50px]">Tùy chọn</button>
                </div>
            </div>
            <div class="text-center items-center overflow-hidden card  w-[290px] h-[370px]">
                <div>
                    <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/426/984/products/0123a7b8a30234cbff048a731c013444-1684898297401.jpg?v=1684898372243" alt="">
                </div>
                <div class="text">
                    <p class="text-sm font-semibold">Áo thun</p>
                    <p class="text-sm py-2">100.000VND</p>
                </div>
                <div class="text-center btn relative">
                    <button class="bg-white text-black border w-[290px] h-[50px]">Tùy chọn</button>
                </div>
            </div>
            <div class="text-center items-center overflow-hidden card  w-[290px] h-[370px]">
                <div>
                    <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/426/984/products/0123a7b8a30234cbff048a731c013444-1684898297401.jpg?v=1684898372243" alt="">
                </div>
                <div class="text">
                    <p class="text-sm font-semibold">Áo thun</p>
                    <p class="text-sm py-2">100.000VND</p>
                </div>
                <div class="text-center btn relative">
                    <button class="bg-white text-black border w-[290px] h-[50px]">Tùy chọn</button>
                </div>
            </div>
            <div class="text-center items-center overflow-hidden card  w-[290px] h-[370px]">
                <div>
                    <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/426/984/products/0123a7b8a30234cbff048a731c013444-1684898297401.jpg?v=1684898372243" alt="">
                </div>
                <div class="text">
                    <p class="text-sm font-semibold">Áo thun</p>
                    <p class="text-sm py-2">100.000VND</p>
                </div>
                <div class="text-center btn relative">
                    <button class="bg-white text-black border w-[290px] h-[50px]">Tùy chọn</button>
                </div>
            </div>
            <div class="text-center items-center overflow-hidden card  w-[290px] h-[370px]">
                <div>
                    <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/426/984/products/0123a7b8a30234cbff048a731c013444-1684898297401.jpg?v=1684898372243" alt="">
                </div>
                <div class="text">
                    <p class="text-sm font-semibold">Áo thun</p>
                    <p class="text-sm py-2">100.000VND</p>
                </div>
                <div class="text-center btn relative">
                    <button class="bg-white text-black border w-[290px] h-[50px]">Tùy chọn</button>
                </div>
            </div>
            <div class="text-center items-center overflow-hidden card  w-[290px] h-[370px]">
                <div>
                    <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/426/984/products/0123a7b8a30234cbff048a731c013444-1684898297401.jpg?v=1684898372243" alt="">
                </div>
                <div class="text">
                    <p class="text-sm font-semibold">Áo thun</p>
                    <p class="text-sm py-2">100.000VND</p>
                </div>
                <div class="text-center btn relative">
                    <button class="bg-white text-black border w-[290px] h-[50px]">Tùy chọn</button>
                </div>
            </div>
        </div>
    </div>
</div>