.borderr{
    border-left: none;
    border-right: none;
}

.btn{
    bottom: -200px;
}

.card:hover{
    .btn{
        z-index: 1000;
        bottom: 0px;
        transition: 0.5s all;
    }
    .img_product{
        opacity: 0;
    }
    .text{
        display: none;
    }
}
.up {
    background: none;
    --hover: #ccc;
  }
  .up:hover,
  .up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
  }
  .up {
    color: var(--color);
    transition: 0.25s;
  }
  .up:hover,
  .up:focus {
    color: #fff;
  }