<div class="relative overflow-x-auto">
    <div class="flex justify-end pb-4">
        <button class="btn--green" routerLink="add">Thêm mới sản phẩm</button>
    </div>
    <table class="w-full text-sm text-left texy-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    #
                </th>
                <th scope="col" class="px-6 py-3">
                    tên sản phẩm
                </th>
                <th scope="col" class="px-6 py-3">

                    giá
                </th>
                <th scope="col" class="px-6 py-3">
                    ngày tạo
                </th>
                <th scope="col" class="px-6 py-3">
                    cập nhật lần cuối
                </th>
                <th scope="col" class="px-6 py-3">

                    hành động
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                *ngFor="let product of products; index as i">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{i+1}}
                </th>
                <td class="px-6 py-4">{{ product.name }}</td>
                <td class="px-6 py-4">{{ product.price?.toLocaleString()}} VND</td>
                <td class="px-6 py-4">{{ product.createdAt }}</td>
                <td class="px-6 py-4">{{ product.updatedAt }}</td>
                <td class="px-6 py-4 flex gap-2">
                    <button class="btn--red" (click)="onRemove(product._id)">Xóa</button>
                    <a routerLink="{{product.slug}}/update"><button class="btn--blue">Cập nhật</button></a>
                </td>
            </tr>
        </tbody>
    </table>


</div>

<nav class="mt-4 flex justify-end items-center" *ngIf="totalPages != 1">
    <ul class="inline-flex -space-x-px">
        <li>
            <button (click)="prevPage()"
                class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Prev</button>
        </li>
        <li *ngFor="let item of getRange(totalPages)">
            <button (click)="changeCurrentPage(item)"
                class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{item}}</button>
        </li>
        <li>
            <button (click)="nextPage()"
                class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</button>
        </li>
    </ul>
</nav>