<div>
    <div class="flex justify-between">
        <div>
            <h1 class="text-sm font-semibold my-3">Chi tiết đơn hàng</h1>
            <p class="text-sm my-3">Mã Đơn hàng: </p>
            <button class="btn--green cursor-default my-3">Đang vận chuyển</button>
        </div>
        <div class="">
            <select name="" id="" class="input w-[170px]">
                <option value="" class="text-xs">Đang vận chuyển</option>
            </select>
        </div>
    </div>
    <div class="flex justify-between">
        <div>
            <h1 class="text-sm font-semibold my-3">Địa chỉ nhân hàng</h1>
            <p class="text-sm my-3">Người nhận: </p>
            <p class="text-sm my-3">SĐT: </p>
            <p class="text-sm my-3">Địa chỉ: </p>
            <p class="text-sm my-3">Ghi chú: </p>
        </div>
        <div>
            <h1 class="text-sm font-semibold my-3">Phương thức thanh toán</h1>
            <p class="text-sm my-3">Hình thức thanh toán: </p>
            <p class="text-sm my-3">Trạng thái:</p>
        </div>
    </div>
    <div class="mt-5 flex items-center">
        <div>
            <img class="w-[100px] h-[100px]" src="https://bizweb.dktcdn.net/thumb/1024x1024/100/426/984/products/0123a7b8a30234cbff048a731c013444-1684898297401.jpg?v=1684898372243" alt="">
        </div>
        <div class="w-[800px] ml-5">
            <p class="text-sm">tên sản phẩm</p>
        </div>
        <div>
            <p class="text-red-500 text-sm font-semibold">Giá:</p>
        </div>
    </div>
    <div class="flex justify-end">
        <h1 class="text-red-500 text-lg font-semibold">Tổng tiền:</h1>
    </div>
</div>
